    <!-- <div class="taskbar">
        <img usemap="#main" src="./icons.PNG" alt="">
        <map name="main">
            <area shape="rect" coords="10,10,30,30" class="taskbarmain" alt="">
        </map>
        <img class="right" src="./taskbarright.PNG" alt="">
    </div>
    <div class="startmenu">
        <img src="./startmenu.PNG" height="550px" usemap="#startmenu"  alt="">
    </div>
        <map name="#startmenu">
            <area shape="circle" coords="5,4,24" href="" alt="">
        </map>
    <video style="height:900px;" autoplay muted id="vid">
        <source src="./video.webm" type="video/webm">
    </video> -->
    hello
    <img src="./icons.PNG" alt="hello" srcset="">