
<!-- <script src="../../assets/js/index.js"></script> -->
<!-- <script src="./watch.component.js"></script> -->
<!-- <link rel="stylesheet" href="./watch2.component.css"> -->
<!-- <button id="btn" (click)='showtime()'> -->
    <!-- <button id="btn" (click)='showtime()'>
        Show Time
      </button> -->
    <div id="ClockContainer">
        <div id="center"></div>
        <div id="Hour"></div>
        <div id="Minute"></div>
        <div id="Second"></div>
    </div>    
    <!-- <app-watch2></app-watch2> -->
